#welcomebanner-wrap {
    min-height: 66vh;
    position: relative;
    background-image: url('../assets/img/luca-bravo-alS7ewQ41M8-unsplash.jpg');
    background-size: cover;
}

.welcomeMessage-wrap{
    text-align: center;
}

.welcomeMessage{
    color: #222222 !important;
    font-size: 68px;
    line-height: 82px;
    letter-spacing: 2.5px;
    text-align: center;
    width: 100%;
}

.welcomeMessage-small{
    color: #516679 !important;
    font-size: 3rem;
    line-height: 60px;
    letter-spacing: 2.5px;
    text-align: center;
    width: 100%;
}